<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Product</h3>
<p>
    <a th:href="@{/facility}">
        Back to facility list
    </a>
</p>
<!--<div id="form">-->
<!--    <form th:action="@{/facility/save}" th:object="${facility}"-->
<!--          method="post" novalidate="novalidate">-->
<!--        <input type="hidden" th:field="*{id}"/>-->
<!--        <div>-->
<!--            <label>Name</label>-->
<!--            <input type="text" th:field="*{name}"/>-->
<!--            <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Area</label>-->
<!--            <input type="number" th:field="*{area}"/>-->
<!--            <p style="color: red" th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Cost</label>-->
<!--            <input type="number" th:field="*{cost}"/>-->
<!--            <p style="color: red" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Max People</label>-->
<!--            <input type="number" th:field="*{maxPeople}"/>-->
<!--            <p style="color: red" th:if="${#fields.hasErrors('maxPeople')}" th:errors="*{maxPeople}"></p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Rent Type</label>-->
<!--            &lt;!&ndash;            <input type="text" th:field="*{customerType}"/>&ndash;&gt;-->
<!--            <select th:field="*{rentType}">-->
<!--                <option th:each="item : ${rentType}" th:value="${item.id}" th:text="${item.name}" ></option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Facility Type</label>-->
<!--            &lt;!&ndash;            <input type="text" th:field="*{customerType}"/>&ndash;&gt;-->
<!--            <select th:field="*{facilityType}">-->
<!--                <option th:each="item : ${facilityType}" th:value="${item.id}" th:text="${item.name}" ></option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Standard Room</label>-->
<!--            <input type="text" th:field="*{standardRoom}"/>-->
<!--            <p style="color: red" th:if="${#fields.hasErrors('standardRoom')}" th:errors="*{standardRoom}"></p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Convenience</label>-->
<!--            <input type="text" th:field="*{convenience}"/>-->
<!--            <p style="color: red" th:if="${#fields.hasErrors('convenience')}" th:errors="*{convenience}"></p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Pool Area</label>-->
<!--            <input type="number" th:field="*{poolArea}"/>-->
<!--            <p style="color: red" th:if="${#fields.hasErrors('poolArea')}" th:errors="*{poolArea}"></p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Free</label>-->
<!--            <input type="text" th:field="*{free}"/>-->
<!--            <p style="color: red" th:if="${#fields.hasErrors('free')}" th:errors="*{free}"></p>-->
<!--        </div>-->
<!--        <input type="submit" value="Save"/>-->
<!--    </form>-->
<!--</div>-->
<div class="container">
    <form th:action="@{/facility/save}" th:object="${facility}" method="post" novalidate="novalidate">
        <div class="mb-3">
            <input type="hidden" th:field="*{id}" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Tên dịch vụ</label>
            <input type="text" th:field="*{name}" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Diện tích</label>
            <input type="number" th:field="*{area}" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Giá thuê</label>
            <input type="number" th:field="*{cost}" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Số người tối đa</label>
            <input type="number" th:field="*{maxPeople}" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Kiểu thuê</label>
            <select class="form-select" th:field="*{rentType}">
                <option th:each="item : ${rentType}"
                        th:value="${item.id}" th:text="${item.name}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Loại dịch vụ</label>
            <select class="form-select" th:field="*{facilityType}" id="select-facility" onchange="onchangeFacility(this.value)">
                <option th:each="item : ${facilityType}"
                        th:value="${item.id}" th:text="${item.name}"></option>
            </select>
        </div>
        <!--        <div class="mb-3" id="standardRoom">-->
        <!--            <label class="form-label">Tiêu chuẩn phòng</label>-->
        <!--            <input type="text" th:field="*{standardRoom}" class="form-control">-->
        <!--        </div>-->
        <div class="mb-3">
            <label class="form-label">Tiêu chuẩn phòng</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" th:field="*{standardRoom}" value="Normal">
                <label class="form-check-label"> Normal </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" th:field="*{standardRoom}" value="Vip">
                <label class="form-check-label"> Vip </label>
            </div>
        </div>
        <div class="mb-3" id="other">
            <label class="form-label">Tiện nghi khác</label>
            <input type="text" th:field="*{convenience}" class="form-control">
        </div>
        <div class="mb-3" id="pool">
            <label class="form-label">Diện tích hồ bơi</label>
            <input type="number" th:field="*{poolArea}" class="form-control">
        </div>
        <div class="mb-3" id="floors">
            <label class="form-label">Số tầng</label>
            <input type="number" th:field="*{floor}" class="form-control">
        </div>
        <div class="mb-3" id="free">
            <label class="form-label">Dịch vụ miễn phí</label>
            <input type="text" th:field="*{free}" class="form-control">
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<!--<script th:src="@{jquery-3.6.0.min.js}"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function onchangeFacility(value) {
        if (value == 1) {
            $("#standardRoom").show();
            $("#other").show();
            $("#pool").show();
            $("#floors").show();
            $("#free").hide();
        } else if (value == 2) {
            $("#standardRoom").show();
            $("#other").show();
            $("#pool").hide();
            $("#floors").show();
            $("#free").hide();
        } else if (value == 3) {
            $("#standardRoom").hide();
            $("#other").hide();
            $("#pool").hide();
            $("#floors").hide();
            $("#free").show();
        }
        // else {
        //     $("#standardRoom").hide();
        //     $("#other").hide();
        //     $("#pool").hide();
        //     $("#floors").hide();
        //     $("#free").hide();
        // }
    }
</script>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>
